<div class = "container-fluid signup-box">
    <div class = "row">
      <div class = "col-xs-3"></div>
      <div class = "col-xs-6">
<h2 class = "signup">新規登録</h2>
</div>
</div>
<div class = "row" >
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class = "col-xs-6">
          <div class="form-group">
            <%= f.label :last_name, "姓:", class: "control-label" %><br>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: " 非公開" %><br/>
            <%= f.label :first_name, "名:", class: "control-label" %><br>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: " 非公開", class: "name"%>
          </div>

          <div class="form-group">
            <%= f.label :last_kana, "セイ:", class: "control-label"%><br>
            <%= f.text_field :last_kana, autofocus: true, autocomplete: "first_kana", placeholder: " 非公開 カナで入力" %><br/>
            <%= f.label :first_kana, "メイ:", class: "control-label kana-name"%><br>
            <%= f.text_field :first_kana, autofocus: true, autocomplete: "last_kana", placeholder: " 非公開　カナで入力" %>
          </div>

          <div class="form-group">
            <%= f.label :ユーザー名 %><br />
            <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", placeholder: "公開されます" %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " 非公開"  %>
          </div>
    </div>
    <div class = "col-xs-6">
          <div class="form-group">
            <%= f.label :post_number, "郵便番号(ハイフンなし)", class: "control-label"%><br>
            <%= f.text_field :post_number, autofocus: true, autocomplete: "post_number", placeholder: " 非公開"  %>
          </div>

          <div class="form-group">
            <%= f.label :address, "住所", class: "control-label"%><br>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: " 非公開"  %>
          </div>

          <div class="form-group">
            <%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: " 非公開"  %>
          </div>

          <div class="form-group">
            <%= f.label :パスワード確認 %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " 非公開"  %>
          </div>
    </div>
     </div>
    <div class = "row">
      <div class = "col-xs-7">
          <div class="actions">
            <%= f.submit "登録", class: "btn btn-primary btn-lg btn-block" %>
          </div>

<% end %>
<h2 class = "text-center">
<%= render "devise/shared/links" %></h2>
</div>
</div>
</div>