<% if user_signed_in? %>
  <% if Favorite.find_by(user_id: current_user.id, article_id: article.id) %>
    <%= link_to article_favorites_path(article_id: article.id, id: article.favorites[0].id), method: :delete, remote: true do %>
      <span class="glyphicon glyphicon-heart"><%= article.favorites.count %></span>
    <% end %>
  <% else %>
    <%= link_to article_favorites_path(article.id), method: :post, remote: true do %>
    　<span class="glyphicon glyphicon-heart-empty"><%= article.favorites.count %></span>
    <% end %>
  <% end %>
<% else %>
	<% if article.favorites.count >= 1 %>
  		<span class="glyphicon glyphicon-heart"><%= article.favorites.count %></span>
  <% else %>
  		<span class="glyphicon glyphicon-heart-empty"><%= article.favorites.count %></span>
  <%end%>
<% end %>

