
 <div class = "container-fulid" >
  <div class = "row top" >
    <div class = "col-xs-3">
      <%=  image_tag 'logo.jpg', size: '250x150' %>
    </div>
    <!-- ログイン時 -->
          <% if user_signed_in? %>
          <div class = "col-xs-9">
            <div class = "row">
              <div class = "col-xs-12">
                <ul class="nav nav-pills ">
                  <!--ユーザー -->
                  <li class="active">
                    <div class="list_login_name">ようこそ<%= current_user.full_name %>さん！</div>
                  </li>
                  <li class="active">
                    <%= render 'searches/search' %>
                  </li>
                  <li class="active">
                    <button type="button" class="breadcrumb glyphicon glyphicon-picture" data-toggle="modal" data-target="#map_search"></button>
                  </li>
                </ul>
              </div>
            </div>
                <div class = "row">
                  <div class = "col-xs-12">
                    <ul class = "nav nav-pills">
                  <li class="active">
                    <%= link_to " 記事を投稿する", new_article_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-picture" %>
                  </li>
                  <li class="active">
                    <%= link_to " マイページ", user_path(current_user), class: "btn btn-default navbar-btn header__right glyphicon glyphicon-home" %>
                  </li>
                  <li class="active">
                    <%= link_to " 記事一覧", articles_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-list-alt" %>
                  </li>
                  <li class="active ">
                    <%= link_to " ユーザー一覧", users_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-user" %>
                  </li>
                  <li class="active">
                    <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-log-out" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--非ログイン -->
          <% else %>
          <div class = "col-xs-9">
            <div class = "row">
              <div class = "col-xs-6">
                <ul class="nav nav-pills ">
                  <!--ユーザー -->
                  <li class="active">
                    <div class = "colspan3"></div>
                  </li>
                  <li class="active">
                    <div class="list_login_name centaer">ようこそ<strong>MountMore</strong>へ！</div>
                  </li>
                  <li class="active">
                    <%= render 'searches/search' %>
                  </li>
                  <li class="active">
                    <button type="button" class="breadcrumb glyphicon glyphicon-picture" data-toggle="modal" data-target="#map_search"></button>
                  </li>
                </ul>
              </div>
            </div>
              <div class = "row">
                <div class = "col-xs-12">
                  <ul class = "nav nav-pills">
                    <li class="active">
                      <%= link_to " About", home_about_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-leaf" %>
                    </li>
                    <li class="active">
                      <%= link_to " 記事一覧", root_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-list-alt" %>
                    </li>
                    <li class="active">
                      <%= link_to " 新規登録", new_user_registration_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-pencil"%>
                    </li>
                    <li class="active">
                      <%= link_to " ログイン", new_user_session_path, class: "btn btn-default navbar-btn header__right glyphicon glyphicon-log-in" %>
                    </li>

                  </ul>
                </div>
              </div>
          </div>
          <% end %>
  </div>
</div>