<header class="header">
    <nav class="header nav">
      <span class="header__left">
<%=  image_tag 'logo.jpg', size: '250x150' %>
      </span>


        <ul class="nav header_list">
          <% if user_signed_in? %>
          <li class="list_login_name">ようこそ<%= current_user.full_name %>さん！</li>
          <li>
          <%= render 'searches/search' %>
          </li>
          <% end %>
        </ul>
        <ul class="navbar-nav header_list">
          <!--ユーザー -->
          <% if user_signed_in? %>
          <li>
            <%= link_to " 記事を投稿する", new_article_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " マイページ", user_path(current_user), class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " 記事一覧", articles_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " ユーザー一覧", users_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <!--非ログイン -->
          <% else %>
          <li>
            <%= link_to " About", home_about_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " 記事一覧", root_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <li>
            <%= link_to " 新規登録", new_user_registration_path, class: "btn btn-default navbar-btn header__right"%>
          </li>
          <li>
            <%= link_to " ログイン", new_user_session_path, class: "btn btn-default navbar-btn header__right" %>
          </li>
          <% end %>
        </ul>
    </nav>
</header>