image_tag 'logo.jpg', size: '250x150'
<div class = "container article-list">

<div class = "row article-list" >
   <div class = "main-image">
<%#= attachment_image_tag 'japan.jpg', usemap="#ImageMap", alt="" do %>
<map name="ImageMap">
  <area shape="rect" coords="712,56,984,180" href="#" alt="" />
  <area shape="rect" coords="523,278,965,486" href="#" alt="" />
  <area shape="rect" coords="1133,311,1471,515" href="#" alt="" />
  <area shape="rect" coords="1085,563,1448,815" href="#" alt="" />
  <area shape="rect" coords="1126,858,1492,1115" href="#" alt="" />
  <area shape="rect" coords="672,813,1025,974" href="#" alt="" />
  <area shape="rect" coords="196,509,651,680" href="#" alt="" />
  <area shape="rect" coords="140,741,501,989" href="#" alt="" />
  <area shape="rect" coords="582,1030,865,1156" href="#" alt="" />
</map>
<%# end %>
</div>
<div class = "col-ms-12 article-list_article-index">
<table class= "user-list_user-table table-hover table-inverse">


 <% @articles.each do |article| %>
 <thead></thead>
 	  <tbody>
         <tr>
            <td><%= attachment_image_tag article.user, :self_image, :fill, 60, 60, format: 'jpeg', class: "img pull-left self-img", fallback: "no_image.jpg" %><td>
            <td><%=link_to article_path(article.id) do%><%= article.title %><% end %></td>
            <td><%= article.body %></td>
      	</tr>
      </tbody>
          <% end %>

  </table>
</div>
</div>
</div>
<% @all_ranks.each.with_index(1) do |article, i| %>
  第<%= i %>位<%= article.title %>
  <% end %>