<div class = "container">
  <div class = "row">
    <!-- 画像スライダーで投稿されている画像全てをスライド表示 -->

<!-- イメージングマップを表示する -->
      <div class = "col-xs-8">
        <h3>地域検索</h3>
          <div id="map-container" ></div>
      </div>
<div class = "col-xs-4">
<% @all_ranks.each.with_index(1) do |article, i| %>

  <div class = "box__right d-flex justify-content-end">
    <!-- 記事に対するいいねの数でランキングを表示 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class = "badge">第<%= i %>位</span>
        <%=link_to article_path(article.id) do%><%= article.title %><% end %>
      </div>
      <div class="panel-body">
        <!-- 記事に関連した複数の写真からidの最初から1つだけ取ってくる -->
        <% article.article_images.first(1).each do |image| %>
        <%=attachment_image_tag image, :image, :fill, 100, 100, format: 'jpeg',  class: "img-responsive"%><% end %>
      </div>
    </div>
  </div>

<% end %>
</div>
</div>

<!-- 記事一覧を表示 -->
<div class = "row">

<% @articles_c.each do |article| %>
<div class = "col-xs-4">

        <div class="panel panel-primary boxed panelzone">
          <div class="panel-header">
            <% article.article_images.first(1).each do |image| %>
            <%=attachment_image_tag image, :image, :fill, 200, 200, format: 'jpeg',  class: "img-responsive"%><% end %>
          </div>
          <div class="panel-body row">
            <h5 class="panel-title col-xs-8"><%=link_to article_path(article.id) do%><%= article.title %><% end %></h5>
            <!-- いいね機能 -->
            <div class = "col-xs-4">
            <td id=<%= "favorite_#{article.id}" %> ><%= render 'favorites/favorite', article: article %></td>
          </div>
            <p class="panel-body"><%= article.body %></p>
          </div>
          <div class="panel-footer">
            <small class="text-muted">地方名:<%= article.prefecture.area.area_name %>|都道府県名:<%= article.prefecture.prefecture_name %></small>
          </div>
        </div>

</div>
<% end %>
</div>
</div>
  <!-- イメージングマップのJS -->
<%= javascript_include_tag 'jquery.japan-map.min.js' %>
<script>
$(function(){
      var areaLinks = {
     1:"javascript:search('北海道地方')",
     2:"javascript:search('東北地方')",
     3:"javascript:search('関東地方')",
     4:"javascript:search('中部地方')",
     5:"javascript:search('近畿地方')",
     6:"javascript:search('中国地方')",
     7:"javascript:search('四国地方')",
     8:"javascript:search('九州・沖縄地方')",
      };

    var areas = [
        {code : 1, name: "北海道地方", color: "#7f7eda", hoverColor: "#b3b2ee", prefectures: [1]},
        {code : 2, name: "東北地方",   color: "#759ef4", hoverColor: "#98b9ff", prefectures: [2,3,4,5,6,7]},
        {code : 3, name: "関東地方",   color: "#7ecfea", hoverColor: "#b7e5f4", prefectures: [8,9,10,11,12,13,14]},
        {code : 4, name: "中部地方",   color: "#7cdc92", hoverColor: "#aceebb", prefectures: [15,16,17,18,19,20,21,22,23]},
        {code : 5, name: "近畿地方",   color: "#ffe966", hoverColor: "#fff19c", prefectures: [24,25,26,27,28,29,30]},
        {code : 6, name: "中国地方",   color: "#ffcc66", hoverColor: "#ffe0a3", prefectures: [31,32,33,34,35]},
        {code : 7, name: "四国地方",   color: "#fb9466", hoverColor: "#ffbb9c", prefectures: [36,37,38,39]},
        {code : 8, name: "九州・沖縄地方",   color: "#ff9999", hoverColor: "#ffbdbd", prefectures: [40,41,42,43,44,45,46,47]},
    ];

    $("#map-container").japanMap({
        width: 600,
        selection: "area",
        areas: areas,
        backgroundColor : "#f2fcff",
        borderLineColor: "#f2fcff",
        borderLineWidth : 0.25,
        lineColor : "#a0a0a0",
        lineWidth: 0.5,
        drawsBoxLine: false,
        movesIslands : true,
        fontSize : 11,
        onSelect : function(data){
        location.href = areaLinks[data.area.code];
        }
    });
});
function search(word){
  $('#search_type').val('area_match')
  $('#search_method').val('perfect_match')
  $('#search_word').val(word)
  $('#search_form').submit()
}
</script>