<%= render 'searches/map_search' %>
<div class = "container">
  <div class = "row">
    <!-- 画像スライダーで投稿されている画像全てをスライド表示 -->


      <div class = "col-xs-8">
    <ul class="bxslider">
      <% @images.each do |image| %>
          <li>
                <%= attachment_image_tag image, :image %>
          </li>
      <% end %>
    </ul>
      </div>
<div class = "col-xs-4">
<% @all_ranks.each.with_index(1) do |article, i| %>

  <div class = "box__right d-flex justify-content-end">
    <!-- 記事に対するいいねの数でランキングを表示 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class = "badge">
          第<%= i %>位
        </span>
        <%=link_to article_path(article.id) do%><%= article.title.truncate(10) %><% end %>
        <%= article.favorites.count %>ポイント
      </div>
      <div class="panel-body">
        <!-- 記事に関連した複数の写真からidの最初から1つだけ取ってくる -->
        <div class = "row">
          <div class = "col-xs-4">
        <% article.article_images.first(1).each do |image| %>
        <%=attachment_image_tag image, :image, :fill, 100, 100, format: 'jpeg',  class: "img-responsive"%><% end %></div>
        <div class = "col-xs-8"
        <span><%= article.body.truncate(15) %></span>
      </div>
      </div>
      </div>
    </div>
  </div>

<% end %>
</div>
</div>

<!-- 記事一覧を表示 -->
<div class = "row">

<% @articles_c.each do |article| %>
<div class = "col-xs-4">

        <div class="panel panel-primary boxed panelzone">
          <div class="panel-header">
            <% article.article_images.first(1).each do |image| %>
            <%=attachment_image_tag image, :image, :fill, 200, 200, format: 'jpeg',  class: "img-responsive"%><% end %>
          </div>
          <div class="panel-body row">
            <h3 class="panel-title col-xs-8"><span class=""><%=link_to article_path(article.id) do%><%= article.title %><% end %></span></h3>
            <!-- いいね機能 -->
            <div class = "col-xs-4">
              <span id=<%= "favorite_#{article.id}" %> ><%= render 'favorites/favorite', article: article%></span>
            </div>
            <p class="panel-body"><%= article.body.truncate(100) %></p>
          </div>
          <div class="panel-footer">
            <small class="text-muted">地方名:<%= article.prefecture.area.area_name %>|都道府県名:<%= article.prefecture.prefecture_name %></small>
          </div>
        </div>

</div>
<% end %>
</div>
</div>
