      <h2>User info</h2>
      <div class="col-xs-3">
        <div class="field">
          <%= form_for(@user, url: user_path(@user.id)) do |f| %>
          <label>Name</label>
          <%= f.text_field :user_name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"ユーザー名"%>
        </div> <!--名前変更-->
        <div class="field">
          <label>Image</label>
          <label class="control-label sr-only" for="inputEmail">Image</label>
          <%= f.attachment_field :self_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
        </div> <!--プロフィール画像変更-->
        <div class="field">
          <label>Introduction</label>
          <%= f.text_area :introduction, autofocus: true, class:"form-control", id:"inputEmail" %>
        </div> <!--自己紹介変更-->
        <div class = "actions">
          <%= f.submit "Update User", class: "data-disable-with" %>
        </div>
      <% end %>