 <button type="button" class="breadcrumb glyphicon glyphicon-search" data-toggle="modal" data-target="#sampleModal">
 </button>
<%= form_with(url: search_path, local: true, method: :get, id: 'search_form') do %>
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title"><%= text_field(@search_content, :search_word)%>
			</div>
			<div class="modal-body">
    <%= select(@search_content, :search_type, [["user","user_match"], ["article","article_match"]])%></h4>
    <%= select(@search_content, :search_method, [["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]])%>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
<%= submit_tag "検索", class: "btn btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
</div>