<!DOCTYPE html>
<html>
  <head>
    <title>MountMore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
   <%= render 'articles/header'%>
   <%= render 'searches/map_search' %>
    <% if flash.notice %>
      <p class = "notice alert alert-info" > <%= flash.notice %></p>
    <% end %>
    <%= yield %>
  <%= render 'articles/footer' %>
  </body>
</html>
