<!DOCTYPE html>
<html>
  <head>
    <title>MountMore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>">
   <%= render 'articles/header'%>
   <%= render 'searches/map_search' %>
    <% if flash.notice %>
      <p class = "notice alert alert-info" > <%= flash.notice %></p>
    <% end %>
    <%= yield %>
  <%= render 'articles/footer' %>
  </body>
</html>
